<div class="container mt-3">
    <h2 class="d-none d-lg-block text-center mb-0">{{galerie.titre}}</h2>
    <h3 class="d-none d-md-block d-lg-none text-center mb-0">{{galerie.titre}}</h3>
    <h4 class="d-sm-block d-md-none text-center mb-0">{{galerie.titre}}</h4>

    <div class="row d-flex justify-content-center align-items-center">
        <swiper-container pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true" slides-per-view="auto"
            coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100" coverflow-effect-modifier="1"
            coverflow-effect-slide-shadows="true">
            <swiper-slide>
                <img src=" https://swiperjs.com/demos/images/nature-1.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
            </swiper-slide>
        </swiper-container>
    </div>
</div>