#profil-membre{
  height: 250px;
  width: 200px;
}

#profil-membre img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 0 0 50% 0;
  z-index: 2;
  border: 3px solid white;
  padding: 5px;
}

#profil-membre .member-info {
  width: 180px;
  height: 180px;
  background-color: #ffd500;
  position: absolute;
  left: 6%;
  top: 15%;
  border-radius: 0 0 40% 0;
}

.member-info span:first-child {
  font-size: 12px;
  font-weight: bold;
}