<div class="nos-valeurs-body">
    <div class="container-valeurs">
      
      <!-- Section image avec texte -->
      <section class="position-relative text-white mb-5 header">
        <img src="assets/layout/nos_valeurs.jpg" class="img-fluid custom-img d-none d-md-block" alt="Membres de l'association">
    
        <!-- Bandeau titre toujours visible même sans image -->
        <div class="position-absolute text-center text-white py-4 px-5 title-nos-valeurs">
          <h1 class="fw-bold text-uppercase mb-0">Les Valeurs de <br>Notre Asso</h1>
        </div>
      </section>
  
      <!-- Section interculturalité -->
      <section class="py-5 text-center">
        <div class="container">
          <h2 class="text-valeur fw-bold text-uppercase mb-4">Interculturalité</h2>
          <p class="text-dark fs-5 mx-auto" style="max-width: 800px;">
            Pour GAM, l’interculturalité c’est l’échange de visions culturelles passant par les langues, les religions, mais aussi la cuisine, le sport, l’art… qui interagissent ensemble pour favoriser la compréhension mutuelle, la tolérance, le vivre ensemble.
          </p>
        </div>
      </section>

      <!-- Section DIVERSITÉ -->
      <section class="py-5 text-center">
        <div class="container">
          <h2 class="text-valeur fw-bold text-uppercase mb-4">DIVERSITÉ</h2>
          <p class="text-dark fs-5 mx-auto" style="max-width: 800px;">
                Pour GAM, la diversité c’est l’ensemble des personnes qui diffèrent les unes des autres, par leur origine
                géographique, socio-culturelle, leur religion, leur âge, sexe, orientation sexuelle, opinons, mais qui
                appartiennent à une même communauté. La diversité apporte une grande richesse, une ouverture d’esprit
                nécessaires à la vie ensemble.          
          </p>
        </div>
      </section>

      <!-- Section Engagement -->
      <section class="py-5 text-center">
        <div class="container">
          <h2 class="text-valeur fw-bold text-uppercase mb-4">Engagement</h2>
          <p class="text-dark fs-5 mx-auto" style="max-width: 800px;">
            L’engagement est une valeur fondamentale pour GAM. Nous croyons que chacun peut contribuer à un monde meilleur en 
            s’impliquant dans des actions concrètes et en soutenant des causes qui lui tiennent à cœur.          
          </p>
        </div>
      </section>

  
    </div>
  </div>
  