<div class="d-flex gap-4">
  <a href="{{ assoInfos.reseauxSociaux.facebook }}">
    <i class="pi pi-facebook" style="font-size: 2rem"></i>
  </a>
  <a href="{{ assoInfos.reseauxSociaux.tiktok }}">
    <i class="pi pi-tiktok" style="font-size: 2rem"></i>
  </a>
  <a href="{{ assoInfos.reseauxSociaux.instagram }}">
    <i class="pi pi-instagram" style="font-size: 2rem"></i>
  </a>
  <a href="{{ assoInfos.reseauxSociaux.linkedIn }}">
    <i class="pi pi-linkedin" style="font-size: 2rem"></i>
  </a>
  <a href="{{ assoInfos.reseauxSociaux.x }}">
    <i class="pi pi-twitter" style="font-size: 2rem"></i>
  </a>
</div>
