/* Tab bouton */
.tab-item-title {
  font-size: 10px;
  font-weight: 700;
}

.tab-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.tab-box {
  position: relative;
  border-bottom: 2px solid rgb(229, 229, 229) ;
}

.tab-button{
  background-color: #fff;
  color: #919191;
  padding: 0;
  border: none;
  transition: all 0.3s ease;
  position: relative;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-item{
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

/* tab content  */
.tab-content-title::before{
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  width: 5px;
  height: 35px;
  background-color: black;
  margin-left: -15px;
}

 .photo-semi-arrondi {
    border-radius: 0 50px;
  }

  .card-semi-arrondi {
    border-radius: 0 50px;
  }
