<div class="container">
  <pole-header [title]="PAGE_TITLE"></pole-header>
  <div class="row p-3">
    <div class="col-lg-8 col-sm-12 mt-lg-5">
      <h4 class="">Evénements interculturels</h4>
      <p class="">
        L'association Guinée À Marseille organise des événements culturels pour
        promouvoir la richesse de la culture guinéenne et favoriser
        l'intégration des Guinéens et de la diaspora dans la société française.
        Ces événements comprennent des projections de films et documentaires,
        des concerts, des défilés de mode, des spectacles de danse et des
        ateliers culinaires, permettant ainsi de partager et de célébrer la
        diversité culturelle. Ces manifestations contribuent également à
        sensibiliser le grand public à la culture guinéenne et à favoriser
        l'échange interculturel.
      </p>
    </div>
    <div class="col">
      <div class="d-flex justify-content-center align-items-center">
        <span class="nb-event-gam me-3">14</span>
        <div class="fw-bold fs-6 me-3">
          ÉVÉNEMENTS <br />
          ORGANISÉS PAR GAM EN 2024
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div class="fw-bold fs-6">
          ÉVÉNEMENTS AUXQUELS GAM <br />
          <div class="w-100 text-end">A PARTICIPÉ EN 2024</div>
        </div>
        <span class="nb-event-particip-gam">11</span>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <img
      src="../../../../assets/pole/evenementiel/blz_1.jpg"
      class="event"
      alt=""
    />
  </div>
</div>
