:host {
  display: block;
}

.nb-event-gam,
.nb-event-particip-gam {
  font-size: 80px;
}

.event {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.a-gle-2023 {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 50px 0 50px 0;
}

.espace {
  margin-bottom: 50px;
}

.can-jan-2024 {
  height: 350px;
  width: 100%;
  object-fit: fill;
  border-radius: 50px 0 50px 0;
}
