<div class="container-fluid">
    <div class="header">LE MOT DU PRÉSIDENT</div>
    <div class="panel_presi">
        <div class="footer">
            <p class="president-nom">MOUSSA CAMARA <br><span class="president-fonction">Président et Fondateur</span></p>
        </div>
        <img src="assets/main/notre-association/president/Mot_du_president.jpg" alt="Description de l'image" class="image-flottante">
        <p> Chers membres, bénévoles et partenaires de l'association Guinée
            À Marseille,
        </p>
        <p>
            C'est avec une immense fierté et une profonde gratitude que je
            vous présente le rapport d'activité de notre association pour
            l'année 2024. Cette année a été marquée par un engagement
            collectif remarquable et une volonté sans faille de promouvoir
            les valeurs qui nous rassemblent. Ensemble, nous avons travaillé
            main dans la main pour concrétiser nos projets et renforcer
            notre impact au sein de la communauté marseillaise et au-delà.
        </p>
        <p>
            Tout d'abord, permettez-moi d'exprimer ma sincère
             reconnaissance envers nos membres, bénévoles et partenaires.
             Votre disponibilité, vos idées novatrices et votre solidarité
             exemplaire ont été la pierre angulaire de nos succès. Votre
             engagement indéfectible a permis de surmonter les défis et de
             transformer nos aspirations en réalisations concrètes.
        </p>
        <p>
            Les résultats de cette année sont à la hauteur de nos ambitions :
            des centaines de bénéficiaires ont été accompagnés, des
            partenariats solides ont été noués, et notre visibilité s'est
            accrue, renforçant notre capacité d'action.
        </p>
        <p>
            Cependant, ce bilan positif ne doit pas nous faire oublier les défis qui restent à relever. Notre engagement pour 2025 sera de poursuivre
            nos efforts, d'innover davantage et de fédérer encore plus de forces vives autour de nos projets. Chaque membre, chaque bénévole et
            chaque partenaire est essentiel à cette dynamique. 
        </p>
        <p>
            En conclusion, je tiens à vous remercier une nouvelle fois pour votre dévouement et votre confiance. Ensemble, nous avons prouvé
            qu'avec de la détermination et de la solidarité, il est possible de faire une réelle différence. Continuons sur cette voie, portés par
            l'espoir et la conviction que nos actions contribuent à bâtir un avenir plus solidaire, inclusif et prospère.
        </p>
        <p>
            Avec toute ma gratitude et mes encouragements pour la suite,
        </p>
        <p>
            Le Président de l'association Guinée À Marseille
        </p>
    </div>
</div>
