    <div class="shadow-sm row p-2 m-3" *ngFor="let event of events">
        <div class="col-lg-3 col-md-12 col-sm-12 d-flex">
            <!-- <img [src]="event.photo_couverture.photoSrc" alt="" class="w-100 mt-3"> -->
             <pole [imagesAffiche]="event.photo_couverture.photoSrc" [images]="event.voir_plus_photos"></pole>
        </div>
        <div class="col d-flex flex-column">
            <h4 class="align-self-center py-3">{{event.titre}}</h4>
            <div [innerHTML]="getSafeText(event.description)"></div>
        </div>
    </div>