<div class="container-fluid">
  <header id="header" class="pt-2 position-sticky top-0 bg-white z-3">
    <img src="../assets/layout/gam.png" class="gam-logo d-none d-md-none d-lg-inline" alt="" srcset="">
    <div class="d-flex justify-content-center align-content-center mt-2 ">
      <img src="../assets/layout/gam.png" class="gam-logo-sm d-lg-none d-md-none" alt="" srcset="">
      <img src="../assets/layout/guinee.png" class="guinee-fance-photo d-none d-lg-inline d-md-inline" alt="" />
      <h2 class="px-3 align-self-center">Guinée à Marseille</h2>
      <img src="../assets/layout/france.png" class="guinee-fance-photo d-none d-md-inline d-lg-inline " alt="" />
    </div>
    <nav class="navbar navbar-expand-lg pt-2 pb-4">
      <span class="position-absolute h-100 w-100 bg-light d-lg-none d-md-none z-n1"></span>
      <div class="container-fluid">
        <a class="btn btn-outline-secondary navbar-toggler" type="button">
          <span class="fs-6 me-1">Faire un don</span>
          <fa-icon [icon]="faHandHoldingDollar" [fixedWidth]="true"></fa-icon>
        </a>
        <a class="btn btn-outline-secondary navbar-toggler mx-1" type="button">
          <span class="fs-6 me-1">Adhésion</span>
          <fa-icon [icon]="faUsers" [fixedWidth]="true"></fa-icon>
        </a>
        <button class="navbar-toggler btn btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <fa-icon [icon]="faBarsStaggered" [fixedWidth]="true"></fa-icon>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#header" class="btn bg-light box-shadow-lg rounded-5 mx-3 d-none d-lg-inline d-md-none">
                Accueil
              </a>
              <a href="#header" class="btn btn-outline-secondary mt-2 d-lg-none">
                Accueil
              </a>
            </li>
            <li class="nav-item">
              <a href="#actions" class="btn bg-light box-shadow-lg rounded-5 mx-3 d-none d-lg-inline d-md-none">
                Nos actions
              </a>
              <a href="#actions" class="btn btn-outline-secondary mt-2 d-lg-none">
                Nos actions
              </a>
            </li>
            <li class="nav-item">
              <a href="#evenements" class="btn bg-light box-shadow-lg rounded-5 mx-3 d-none d-lg-inline d-md-none">
                Evènements
              </a>
              <a href="#evenements" class="btn btn-outline-secondary mt-2 d-lg-none">
                Evènements
              </a>
            </li>
            <li class="nav-item">
              <a href="#partenaires" class="btn bg-light box-shadow-lg rounded-5 mx-3 d-none d-lg-inline d-md-none">
                Partenaires
              </a>
              <a href="#partenaires" class="btn btn-outline-secondary mt-2 d-lg-none">
                Partenaires
              </a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="btn bg-light box-shadow-lg rounded-5 mx-3 d-none d-lg-inline d-md-none">
                Contacts
              </a>
              <a href="#contact" class="btn btn-outline-secondary mt-2 d-lg-none">
                Contacts
              </a>
            </li>
            <li class="nav-item">
              <a href="#association" class="btn bg-light box-shadow-lg rounded-5 mx-3 d-none d-lg-inline d-md-none">
                Notre association
              </a>
              <a href="#association" class="btn btn-outline-secondary mt-2 d-lg-none">
                Notre association
              </a>
            </li>
             <li class="nav-item">
              <a href="#boutique" class="btn bg-light box-shadow-lg rounded-5 mx-3 d-none d-lg-inline d-md-none">
                Boutique
              </a>
              <a href="#boutique" class="btn btn-outline-secondary mt-2 d-lg-none">
                Boutique
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <router-outlet/>
  <!-- Boutton adhésion -->
  <span class="d-none d-lg-block">
      <a [routerLink]="['adhesion']" class="btn d-flex align-items-center justify-content-center" id="adhesion">
          <span>Adhésion</span>
          <fa-icon [icon]="faUser" [fixedWidth]="true" size="1x"></fa-icon>
      </a>
  </span>
</div>