
/* Header */ 

.gam-logo-sm{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.gam-logo{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.guinee-fance-photo{
  width: 50px;
  height: 50px
}

.nav-item a:focus, .navbar-toggler:focus {
 box-shadow: none;
}

li a.box-shadow-lg{
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.3);
  border: none;
}

/* Button plus */
#plus {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a5a40;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

#plus-bouton{
  position: fixed;
}

#plus-bouton:hover #flotting-bouton-adhesion {
  position: fixed;
  bottom: 60px;
  right: 7px;
  animation: flotting-b 0.4s forwards;
}

#plus-bouton:hover #flotting-bouton-don {
  position: fixed;
  bottom: 110px;
  right: 7px;
  animation: flotting-b 0.4s forwards .2s;
}

@keyframes flotting-b {
  0% {
    opacity: 0;
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Bouton adhesion et don */
#flotting-bouton-don, #flotting-bouton-adhesion {
  opacity: 0;
}

#adhesion:focus, #faireUnDon:focus {
  border: none;
}

#adhesion fa-icon, #faireUnDon fa-icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: lightgrey;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
}

#adhesion span, #faireUnDon span {
  position: relative;
  right: -10px;
  height: auto;
  font-weight: bold;
  background-color: lightgrey;
  padding: 2px;
  border-radius: 15px 0 0 15px;
  z-index: -10;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
}

#adhesion span {
  width: 100px;
}

#faireUnDon span {
  width: 130px;
}
