<div class="container-fluid">
  <header id="header" class="pt-2 position-sticky top-0 bg-white z-3">
    <img src="../assets/layout/gam.png" class="gam-logo d-none d-md-none d-lg-inline" alt="" srcset="">
    <div class="d-flex justify-content-center align-content-center mt-2 ">
      <img src="../assets/layout/gam.png" class="gam-logo-sm d-lg-none d-md-none" alt="" srcset="">
      <img src="../assets/layout/guinee.png" class="guinee-fance-photo d-none d-lg-inline d-md-inline" alt="" />
      <h2 class="px-3 align-self-center">Guinée à Marseille</h2>
      <img src="../assets/layout/france.png" class="guinee-fance-photo d-none d-md-inline d-lg-inline " alt="" />
    </div>
    <nav class="navbar navbar-expand-lg mt-2 mb-2">
      <span class="position-absolute h-100 w-100 bg-light d-lg-none d-md-none z-n1"></span>
      <div class="container-fluid">
        <a href="https://www.helloasso.com/associations/association-guinee-a-marseille/formulaires/2" class="btn btn-outline-secondary navbar-toggler" type="button">
          <span class="fs-6 me-1">Faire un don</span>
          <fa-icon [icon]="faHandHoldingDollar" [fixedWidth]="true"></fa-icon>
        </a>
        <a href="https://www.helloasso.com/associations/association-guinee-a-marseille/adhesions/adhesion-gam-2024" class="btn btn-outline-secondary navbar-toggler mx-1" type="button">
          <span class="fs-6 me-1">Adhésion</span>
          <fa-icon [icon]="faUsers" [fixedWidth]="true"></fa-icon>
        </a>
        <button class="navbar-toggler btn btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <fa-icon [icon]="faBarsStaggered" [fixedWidth]="true"></fa-icon>
        </button>
        <div class="navbar-collapse justify-content-center collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item d-flex justify-content-center">
              <a [routerLink]="['']" class="btn bg-light box-shadow-lg rounded-5 mx-3 d-none d-lg-inline d-md-none">
                Accueil
              </a>
              <a [routerLink]="['']" class="btn btn-outline-secondary mt-2 nav-items-style d-lg-none" (click)="selectTitle()">
                Accueil
              </a>
            </li>
            <li class="nav-item d-flex justify-content-center">
              <a href="#poles" class="btn bg-light box-shadow-lg rounded-5 mx-3 d-none d-lg-inline d-md-none">
                Nos actions
              </a>
              <a href="#poles" class="btn btn-outline-secondary mt-2 nav-items-style d-lg-none" (click)="selectTitle()">
                Nos actions
              </a>
            </li>
            <li class="nav-item d-flex justify-content-center">
              <a href="#evenements" class="btn bg-light box-shadow-lg rounded-5 mx-3 d-none d-lg-inline d-md-none">
                Evènements
              </a>
              <a href="#evenements" class="btn btn-outline-secondary mt-2 nav-items-style d-lg-none" (click)="selectTitle()">
                Evènements
              </a>
            </li>
            <li class="nav-item d-flex justify-content-center">
              <a href="#partenaires" class="btn bg-light box-shadow-lg rounded-5 mx-3 d-none d-lg-inline d-md-none">
                Partenaires
              </a>
              <a href="#partenaires" class="btn btn-outline-secondary mt-2 nav-items-style d-lg-none" (click)="selectTitle()">
                Partenaires
              </a>
            </li>
            <li class="nav-item d-flex justify-content-center">
              <a href="#contacts" class="btn bg-light box-shadow-lg rounded-5 mx-3 d-none d-lg-inline d-md-none">
                Contacts
              </a>
              <a href="#contacts" class="btn btn-outline-secondary mt-2 nav-items-style d-lg-none" (click)="selectTitle()">
                Contacts
              </a>
            </li>
            <li class="nav-item d-flex justify-content-center">
              <a [routerLink]="['notre-association']" class="btn bg-light box-shadow-lg rounded-5 mx-3 d-none d-lg-inline d-md-none">
                Notre association
              </a>
              <a [routerLink]="['notre-association']" class="btn btn-outline-secondary mt-2 nav-items-style d-lg-none" (click)="selectTitle()">
                Notre association
              </a>
            </li>
            <li class="nav-item d-flex justify-content-center">
              <a href="#" class="btn bg-light box-shadow-lg rounded-5 mx-3 d-none d-lg-inline d-md-none">
                Boutique
              </a>
              <a href="#" class="btn btn-outline-secondary mt-2 nav-items-style d-lg-none" (click)="selectTitle()">
                Boutique
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.helloasso.com/associations/association-guinee-a-marseille/formulaires/1" id="faireUnDon" class="btn bg-light box-shadow-lg rounded-5 mx-3 d-none d-lg-inline d-md-none">
                Faire un don
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <router-outlet/>

  <div id="flotting-bouton-adhesion" class="d-none d-lg-block">
    <span class="">
      <a href="https://www.helloasso.com/associations/association-guinee-a-marseille/adhesions/adhesion-gam-2024" class="btn d-flex align-items-center justify-content-center" id="adhesion">
          <span>Adhésion</span>
          <fa-icon [icon]="faUser" [fixedWidth]="true" size="1x"></fa-icon>
      </a>
    </span>
  </div>
</div>