
/* Header */ 
.gam-logo-sm{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.gam-logo{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.guinee-fance-photo{
  width: 50px;
  height: 50px
}

.nav-item a:focus, .navbar-toggler:focus {
 box-shadow: none;
}

li a.box-shadow-lg{
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.3);
  border: none;
}

/* Les boutons de navigation pour la version mobiles */
.nav-items-style {
  display: inline-block;
  width: 250px;
}

/* Bouton faire un don */
#faireUnDon, #adhesion {
  box-sizing: border-box;
  animation: 5s linear infinite border-animation;
}

@keyframes border-animation {
  0% {
    border: solid red 3px;
  }
  50% {
    border: solid yellow 3px;
  }
  100% {
    border: solid green 3px;
  }
}

/* logo spécifique à la nav */
.logo-nav {
  max-height: 40px;  /* plus petit qu'avant */
  height: auto;
  width: auto;
}



