.grid {
  position: relative;
  display: inline-block;
}

.clickable-image {
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  border: 3px solid transparent;
  border-radius: 12px;
  overflow: hidden;
}

.clickable-image:hover {
  transform: scale(1.1); /* effet de zoom amélioré */
  box-shadow: 0px 6px 10px #538b67; /* ombre plus accentuée */
  border: 3px solid #538b67; /* bordure verte au survol */
}


.grid:hover {
  opacity: 0.75;
  transform: translateY(0);
}


.clickable-image:hover {
  opacity: 0.75; /* l'image devient légèrement transparente au survol */
}
