<div class="my-3">
    <div *ngIf="images && imagesAffiche" class="grid" style="max-width: 800px; position: relative;" (click)="imageClick(0)">
        <img
            [src]="imagesAffiche" 
            alt="Images"
            title="Cliquez pour découvrir plus d'images"
            class="clickable-image" />
    </div>

    <p-galleria
        [value]="images"
        [(visible)]="displayCustom"
        [(activeIndex)]="activeIndex"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '850px' }"
        [numVisible]="7"
        [circular]="true"
        [fullScreen]="isImageLoaded()"
        [showItemNavigators]="true"
        [showThumbnails]="false">
        <ng-template pTemplate="item" let-item>
            <img 
                [src]="item.itemImageSrc" 
                style="width: 100%; display: block;" />
        </ng-template>
    </p-galleria>
</div>
        
