<div class="card p-2">
    <div class="row">
        <div class="h-50 col-lg-4 col-md-12 col-sm-12 d-flex justify-content-lg-start justify-content-center">
            <p-galleria 
                [value]="images" 
                [responsiveOptions]="responsivePhotoOption" 
                [containerStyle]="{ 'max-width': '340px'}" 
                [numVisible]="3" 
                >
                    <ng-template pTemplate="item" let-item>
                        <img [src]="photoSrc" style="width: 100%;" />
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="grid grid-nogutter justify-content-center">
                            <img [src]="photoMiniSrc" />
                        </div>
                    </ng-template>
            </p-galleria>
        </div>
        <ul class="col d-flex flex-column justify-content-center align-items-sm-start m-4">
            <ng-container *ngFor="let description of descriptions; let first = first">
                <li [ngClass]="{'my-2': !first}">
                    {{description}}
                </li>
            </ng-container>
        </ul>
    </div>
</div>