.grid {
  position: relative;
  display: inline-block;
}

.clickable-image {
  width: 100%;
  max-width: 350px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  border: 3px solid transparent;
  border-radius: 12px;
  overflow: hidden;
}

.clickable-image:hover {
  transform: scale(1.1); /* effet de zoom amélioré */
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.452); /* ombre plus accentuée */
  border: 3px solid #538b67; /* bordure verte au survol */
}

.click-message {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: #538b67;
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(20px);
}

.grid:hover .click-message {
  opacity: 0.75;
  transform: translateY(0);
}


.grid:hover {
  transform: translateX(5px); /* effet d'animation pour l'icône */
}

.clickable-image:hover {
  opacity: 0.8; /* l'image devient légèrement transparente au survol */
}
