<div class="my-3">
    <div *ngIf="images" class="grid" style="max-width: 800px; position: relative;">
        <img 
            [src]="images[0].itemImageSrc" 
            [alt]="images[0].alt" 
            class="clickable-image"
            (click)="imageClick(0)" />
        <div class="click-message">
            <p>Cliquez pour découvrir plus d'images</p>
        </div>
    </div>




    <p-galleria
        [value]="images"
        [(visible)]="displayCustom"
        [(activeIndex)]="activeIndex"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '850px' }"
        [numVisible]="7"
        [circular]="true"
        [fullScreen]="true"
        [showItemNavigators]="true"
        [showThumbnails]="false">
        <ng-template pTemplate="item" let-item>
            <img 
                [src]="item.itemImageSrc" 
                style="width: 100%; display: block;" />
        </ng-template>
    </p-galleria>
</div>
        
