/* Global */
section {
  margin-top: 20px;
}

/* Photo accueille */
#large {
  height: 400px;
}

#small {
  height: 200px;
}

#gam-photo-famille #large, #small{
  background-image: url("../../../assets/main/game-acceil.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Poles */
#poles > .row > button {
  /* border: 2px solid black; */
  box-shadow: 2px 2px 3px #006400;
}