/* Global */

@media (min-width: 1000px) {
  .entete-accueil {
    width: 100%;
    height: 500px;    
  }
}

/* Photo accueille */
#large {
  height: 400px;
}

#small {
  height: 200px;
}

/* Nos events */

#evenements img {
  width: 300px;
  height: auto;
}


/* Nos partenaires */
.partner-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-img img {
  height: 268px;
  width: 402px;
  object-fit: fill;
}

.partner-comment {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color:rgba(58, 90, 64, .8);
  overflow: hidden;
  border-radius: 5px;
  transition: .5s ease;
}

.comment {
  width: 90%;
  padding: 10px;
  color: white;
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, .5) rgba(58, 90, 64, .5);
}

.partners:hover .partner-comment {
  height: 100%;
}

::ng-deep .p-panel-header{
  display: none;
}

::ng-deep .p-panel-content {
  border-top: 1px solid #e5e7eb;
  padding: 0;
}





 
 /**************** DEBUT Style CAROUSELLE***********************/




 /* Palette de couleurs modernes */
:root {
  --primary-color: #3498db;  /* Bleu vif */
  --secondary-color: #2ecc71; /* Vert */
  --background-color: #f4f4f4; /* Gris clair */
  --text-color: #333333; /* Gris foncé */
  --highlight-color: #e74c3c; /* Rouge accent */
}


/* Taille et adaptation des images */
.carousel-image {
  width: 100%;
  height: 400px;  /* Tu peux ajuster cette hauteur selon tes besoins */
  object-fit: cover;
  border-radius: 8px;
}

/* Pour les petits écrans, ajuster les images */
@media (max-width: 767px) {
  .carousel-image {
    height: 200px;  /* Taille réduite pour petits écrans */
    object-fit: cover;  /* Pour que l'image ne déborde pas */
  }
}




 /**************** FIN Style CAROUSELLE***********************/


 
 /**************** DEBUT Style poles-section***********************/

 .panel-poles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  
}

.pole {
  width: 30%;
  text-align: center;
}

.pole img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
}

img:hover {
  cursor: pointer;
}

.barre {
  background-color: #2e5b2d;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: small;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .panel-poles {
    flex-direction: column;
  }
  .pole {
    width: 80%;
    margin: 15px;
  }
  .pole img {
    width: 100px;
    height: 100px;
  }
  .barre {
    flex-direction: column;
    padding: 5px 0;
    font-size: small;
  }
}


@media (min-width: 1000px) {
  .panel-poles {
    position: relative; 
    top: -100px;
  }

  .barre {
    top: -60px;
  }
}



  /**************** FIN Style poles-section***********************/
  
.carousel-figure {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.carousel-caption-modern {
  position: absolute;
  color: #fff;
  font-weight: 200;
  font-style: italic;
  text-align: right;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.75rem;
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  max-width: 80%;
  z-index: 2;
}

/* Spécifique à la position top-right */
.carousel-caption-modern.top-right {
  top: 1rem;
  right: 1rem;
}

