<div class="container overflow-auto">
    <section id="gam-photo-famille" class="row mt-0">
        <div id="large" class="d-none d-lg-block d-md-block"></div>
        <div id="small" class="d-lg-none d-md-none"></div>
    </section>

    <section id="poles">
        <div class="row justify-content-around">
            <button type="button" class="col-lg-3 col-md-3 col-sm-11 mb-3 btn bg-light rounded-5 fs d-flex align-items-center justify-content-center" (click)="showPoleItem(poleItems.Hebergement)"> <fa-icon [icon]="faCircleCheck" [fixedWidth]="true" class="pe-2"></fa-icon> Hebergement</button>
            <button type="button" class="col-lg-3 col-md-3 col-sm-11 mb-3 btn bg-light rounded-5 fs d-flex align-items-center justify-content-center" (click)="showPoleItem(poleItems.AccompagnementAdmin)"> <fa-icon [icon]="faCircleCheck" [fixedWidth]="true" class="pe-2"></fa-icon> Accompagnement administratif</button>
            <button type="button" class="col-lg-3 col-md-3 col-sm-11 mb-3 btn bg-light rounded-5 fs d-flex align-items-center justify-content-center" (click)="showPoleItem(poleItems.Evenementiel)"> <fa-icon [icon]="faCircleCheck" [fixedWidth]="true" class="pe-2"></fa-icon> Evenementiel</button>
        </div>
        <div>
            <div *ngIf="canShowHerbergement">
                <h2>Herbergement</h2>
            </div>
            <div *ngIf="canShowAccAdmin">
                <h2>Accompagnement administratif</h2>
            </div>
            <div *ngIf="canShowEven">
                <h2>Evenementiel</h2>
            </div>
        </div>
    </section>
   
    <section id="actions">

    </section>
</div>
