/* Global */
section {
  margin-top: 20px;
}

/* Photo accueille */
#large {
  height: 400px;
}

#small {
  height: 200px;
}

#gam-photo-famille #large, #small{
  background-image: url("../../../assets/main/game-acceil.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Poles */
.apply-shadow {
  /* border: 2px solid black; */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),
    -5px -5px 5px rgba(255, 255, 255, 0.3);
}

.reset-shadow{
  box-shadow: 0;
  /* border: blue solid 2px; */
}

/* Nos events */

#evenements img {
  width: 300px;
  height: auto;
}


/* Nos partenaires */
.partner-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-img img {
  height: 268px;
  width: 402px;
  object-fit: fill;
}

.partner-comment {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color:rgba(58, 90, 64, .8);
  overflow: hidden;
  border-radius: 5px;
  transition: .5s ease;
}

.comment {
  width: 90%;
  padding: 10px;
  color: white;
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, .5) rgba(58, 90, 64, .5);
}

.partners:hover .partner-comment {
  height: 100%;
}

::ng-deep .p-panel-header{
  display: none;
}

::ng-deep .p-panel-content {
  border-top: 1px solid #e5e7eb;
  padding: 0;
}

