<div class="container mb-4">
  <h1 class="d-none d-lg-block text-center p-5 pole-title mb-0">
    {{ PAGE_TITLE }}
  </h1>
  <h2 class="d-none d-md-block d-lg-none text-center p-5 pole-title mb-0">
    {{ PAGE_TITLE }}
  </h2>
  <h3 class="d-sm-block d-md-none text-center p-5 pole-title mb-0">
    {{ PAGE_TITLE }}
  </h3>
  <div class="row mt-4">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <p>
        L’accompagnement administratif est une action essentielle et récurrente
        de notre association, visant à faciliter l’intégration des
        ressortissants guinéens en France. Nous aidons nos bénéficiaires à mieux
        comprendre les démarches administratives et juridiques qu’ils doivent
        effectuer, tout en veillant à leur fournir un soutien personnalisé à
        chaque étape.
      </p>
      <p>
        Spécialisés dans les procédures relatives à la Guinée, nous concentrons
        notre expertise sur les besoins spécifiques de cette communauté pendant.
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <p>
        Les permanences administratives. Par ailleurs, les coûts associés à ces
        démarches sont entièrement pris en charge par l’association,
        garantissant un accès équitable à ces services pour les personnes en
        situation de précarité ou de vulnérabilité.
      </p>
      <p>
        En dehors des permanences administratives, nous accompagnons au cas par
        cas des personnes de toutes nationalités qui ont besoin de faire une
        démarche en dehors du site e-kaidi.
      </p>
    </div>
  </div>
  <!-- <div class="">
    <div class="position-relative">
      <img
        src="../../../../assets/pole/accompagnement/acc-admin.jpg"
        alt=""
        class="admin"
      />
    </div>
    <div class="acc-admin">
      <div class="col text-center">
        <span class="nb-acc-admin">122</span>
        <h5 class="d-none d-lg-block text-white mb-0">
          Accompagnements <br />
          administratifs faits par <br />
          nos bénévoles
        </h5>
        <h5 class="d-none d-md-block d-lg-none text-white mb-0">
          Accompagnements <br />
          administratifs faits par <br />
          nos bénévoles
        </h5>
        <h5 class="d-sm-block d-md-none text-white mb-0">
          Accompagnements <br />
          administratifs faits par <br />
          nos bénévoles
        </h5>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div> -->

  <div class="overflow-hidden d-none d-md-block d-lg-block">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-12">
        <img
          src="../../../../assets/pole/accompagnement/acc-admin.jpg"
          alt="Accompagnement administratif"
          class="img-fluid w-100"
        />
      </div>
    </div>

    <div class="acc-admin-stats px-md-5 pt-md-5 pb-0">
      <div class="row text-center">
        <div class="col-lg col-md col-sm-12">
          <div class="d-flex flex-column">
            <div class="mb-5">
              <span class="nb-acc-admin">122</span>
              <h6>
                Accompagnements <br />
                administratifs faits par <br />
                nos bénévoles
              </h6>
            </div>
            <div>
              <span class="nb-acc-admin">27</span>
              <h6>Permanences administratives</h6>
            </div>
          </div>
        </div>

        <div class="col-lg col-md col-sm-12">
          <div class="d-flex flex-column mb-5">
            <h6>
              Faire venir des <br />
              actes de naissance
            </h6>
            <span class="nb-acc-admin">22</span>
          </div>
          <div class="d-flex flex-column mb-5">
            <h6>Conseil juridique</h6>
            <span class="nb-acc-admin">6</span>
          </div>
          <div class="d-flex flex-column mb-5">
            <h6>Accompagnement visa étudiant</h6>
            <span class="nb-acc-admin">12</span>
          </div>
        </div>

        <div class="col-lg col-md col-sm-12">
          <div class="d-flex flex-column mb-5">
            <h6>Cartes consulaires</h6>
            <span class="nb-acc-admin">49</span>
          </div>
          <div class="d-flex flex-column mb-5">
            <h6>Sur-légalisation d’actes de naissance</h6>
            <span class="nb-acc-admin">29</span>
          </div>
          <div class="d-flex flex-column mb-5">
            <h6>Autres (livrets de famille, carte AME,.. )</h6>
            <span class="nb-acc-admin">6</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="overflow-hidden d-sm-block d-md-none">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-12">
        <img
          src="../../../../assets/pole/accompagnement/acc-admin.jpg"
          alt="Accompagnement administratif"
          class="img-fluid w-100"
        />
      </div>
    </div>

    <div class="acc-admin-stats-sm px-md-5 pt-md-5 pb-0">
      <div class="row text-center">
        <div class="col-lg col-md col-sm-12 mb-5">
          <div class="d-flex flex-column">
            <div class="mb-5">
              <span class="nb-acc-admin">122</span>
              <h6>
                Accompagnements <br />
                administratifs faits par <br />
                nos bénévoles
              </h6>
            </div>
            <div>
              <span class="nb-acc-admin">27</span>
              <h6>Permanences administratives</h6>
            </div>
          </div>
        </div>

        <div class="col-lg col-md col-sm-12 mb-5">
          <div class="d-flex flex-column mb-5">
            <h6>
              Faire venir des <br />
              actes de naissance
            </h6>
            <span class="nb-acc-admin">22</span>
          </div>
          <div class="d-flex flex-column mb-5">
            <h6>Conseil juridique</h6>
            <span class="nb-acc-admin">6</span>
          </div>
          <div class="d-flex flex-column mb-5">
            <h6>Accompagnement visa étudiant</h6>
            <span class="nb-acc-admin">12</span>
          </div>
        </div>

        <div class="col-lg col-md col-sm-12">
          <div class="d-flex flex-column mb-5">
            <h6>Cartes consulaires</h6>
            <span class="nb-acc-admin">49</span>
          </div>
          <div class="d-flex flex-column mb-5">
            <h6>Sur-légalisation d’actes de naissance</h6>
            <span class="nb-acc-admin">29</span>
          </div>
          <div class="d-flex flex-column mb-5">
            <h6>Autres (livrets de famille, carte AME,.. )</h6>
            <span class="nb-acc-admin">6</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-0">
    <h1 class="d-none d-lg-block mb-4">Autres accompagnements</h1>
    <h2 class="d-none d-md-block d-lg-none mb-4">Autres accompagnements</h2>
    <h3 class="d-sm-block d-md-none mb-4">Autres accompagnements</h3>
    <ul class="ps-5">
      <li class="mb-3">
        la rédaction d’<span class="fw-bold">attestations d’hébergement</span>
        pour les étudiants avant leur arrivée en France et MNA hébergés chez les
        bénévoles
      </li>
      <li class="mb-3">
        L’acheminement d’<span class="fw-bold"
          >extraits d’acte de naissance</span
        >
        depuis la Guinée jusqu’à Marseille
      </li>
      <li class="mb-3">
        La demande de <span class="fw-bold">cartes consulaires</span> et la
        légalisation de documents auprès de l'ambassade de Guinée en France
      </li>
      <li class="mb-3">
        Ponctuellement, aide pour faire un
        <span class="fw-bold">titre de voyage</span>
      </li>
      <li class="mb-3">
        <span class="fw-bold">Des conseils</span> sur les démarches à effectuer
        (demande d’asile, carte AME) et l’orientation vers d’autres organismes
      </li>
      <li>
        <span class="fw-bold">Traduction et explication</span> de démarches en
        langues soussou, peulh et malinké
      </li>
    </ul>
  </div>

  <div class="row p-0">
    <div class="col-lg-6 col-sm-12">
      <h2 class="d-none d-lg-block mb-4">
        Des permanences d’accompagnement administratif
      </h2>
      <h3 class="d-none d-md-block d-lg-none mb-4">
        Des permanences d’accompagnement administratif
      </h3>
      <h4 class="d-sm-block d-md-none mb-4">
        Des permanences d’accompagnement administratif
      </h4>
      <ul class="ps-5">
        <li class="mb-3">Demande d’une carte d’Aide Médicale d’Etat,</li>
        <li class="mb-3">Renseignements pour une demande d’asile</li>
        <li class="mb-3">Accompagnement pour obtention du visa étudiant,</li>
        <li class="mb-3">Remplissage de documents de scolarité</li>
        <li class="mb-3">
          Renseignements par téléphone et mail sur des démarches à des avocats,
          travailleurs sociaux et bénévoles d’autres associations
        </li>
      </ul>
    </div>
    <img
      src="../../../../assets/pole/accompagnement/acc-admin_permanence.jpg"
      class="col-lg-6 col-sm-12 permanence"
      alt=""
    />
  </div>
</div>
