/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

/* Palette moderne */
:root {
  --primary-color: #538b67; /* turquoise foncé */
  --secondary-color: #e9c46a; /* jaune doux */
  --background-color: #f9f9f9; /* gris très clair */
  --text-color: #264653; /* bleu foncé */
  --accent-color: #245936; /* vert foncé */
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Reset et global */
body, html {
  margin: 0; padding: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-accent);
  scroll-behavior: smooth;
}


/* TITRES */
h2, h3, h4 {
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.hover-style:hover {
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
}

.card-semi-arrondi {
  border-radius: 0 30px;
}

.photo-semi-arrondi {
  border-radius: 0 30px;
}

.card-shadow {
  box-shadow: 0 0.135rem 0.45rem rgba(0, 0, 0, 0.2);
}

/* Styler appliquer lorsqu'on clique sur un bouton  */
.apply-shadow {
  /* border: 2px solid black; */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),
    -5px -5px 5px rgba(255, 255, 255, 0.3);
}

.reset-shadow {
  box-shadow: 0;
  /* border: blue solid 2px; */
}

.pole-title {
  background: #538b67;
  color: white;
}
